e# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.DS_Store

# Node / React
node_modules/
dist/
build/
*.log
package-lock.json

# Model / training outputs
outputs_phi2/
ai_resume_model_lora/
ai_resume_model/
*.pt
*.bin
*.safetensors
*.ckpt

# System files
__MACOSX/

.vscode/
resume-backend/uploads/avatars/
resume-backend/alembic/versions
resume-backend/app/data/*.txt
