.flip-wrapper {
  width: 320px;
  height: 420px;
  position: relative;
  transform-style: preserve-3d;
  transition: transform 0.8s ease;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

.rotate-y-0 {
  transform: rotateY(0deg);
}

.flip-image {
  width: 100%;
  height: 100%;
  border-radius: 12px;
  position: absolute;
  backface-visibility: hidden;
}

.flip-image.back {
  transform: rotateY(180deg);
}
